* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h1,h2,h4 {
  font-family: 'PT Sans Narrow', Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* NAVIGATION */

.navbar {
  background-color: #222222 !important;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-weight: 700;
}

.navbar a {
  color: #fff !important;
  opacity: .7;
}

.navbar a:hover {
  opacity: 1;
  background-color: #111111 !important;
}

/* HEADER*/
.header {
  height: 600px;
  width: 100%;
  padding: 30px 0 30px;
  margin-top: 50px;
  background-image: url(../images/bg3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.header img {
  height: 100%;
  width: 100%;
  margin: 70px 0 0 40px;
}

.header h1 {
  font-size: 40px;
  font-weight: 700;
  padding-top: 30px;
}

.header h1,
.header p,
.header button {
  margin-top: 20px;
}

.header .btn {
  border-radius: 0;
  margin: 40px 20px;
}

@media (max-width:768px) {
  .header {
    padding: 20px;
    margin-top: 10px;
  }

  .header img {
    width: 100%;
    height: 100%;
    margin: 20px 0 0 20px;
  }

  .header .btn {
    width: 100%;
    margin: 5px 0;
  }
  .header h1 {
    margin-left: 20px;
  }

}

/* SERVICES */
.services {
  padding: 80px 0 80px;
  text-align: center;
}

.services h2,
.services h4 {
  color: #4c4c4c;
  margin: 20px 0 20px;
}

.services p {
  color: #737373;
  font-size: 14px;
  padding-bottom: 40px;
}

.services i {
  height: 80px;
  width: 80px;
  font-size: 30px;
  padding: 20px 20px;
  border-radius: 50%;
  background-color: #6699cc;
  color: white;
}

/* Pricing */
.pricing {
  padding: 50px 0 50px;
  text-align: center;
  background-color: #3399ff;
}

.pricing h2,
.pricing p {
  color: #fff;
}

.pricing p {
  padding: 4px;
}

.pricing .packages {
  padding: 30px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}

.packages li {
  display: block;
  padding: 4px;
}

.packages h4,
.packages h1,
.packages b {
  color: #4c4c4c;
}

.packages p,
.packages li {
  color: #737373;
}

.packages button {
  margin-top: 10px;
}
@media(max-width:768px) {
  .pricing {
    padding: 20px;
  }
  .packages {
    width: 90%;
    margin-left: 25px;
    margin-bottom: 25px;
  }
}

/* TEAM */
.team {
  padding: 50px 0 80px;
  text-align: center;
}

.team b,
.team h2,
.team h4 {
  margin: 20px 0 20px;
  color: #4c4c4c;
}

.team p {
  color: #737373;
}

.team img {
  /*height: 150px;
  width: 150px;*/
  margin-top: 80px;
}

.team i {
  height: 30px;
  width: 30px;
  padding: 5px;
  font-size: 17px;
  border-radius: 50%;
  background-color: #a0db8e;
}

.team a:hover i {
  background-color: #709963;
}

.clients {
  padding: 50px 0 80px;
  background-color: #3399ff;
  text-align: center;
  color: #fff;
}

/*.clients h2 {
  color: #5e5e5e;
}*/

.clients p {
  padding:  40px;
}

.clients img {
  width: 200px;
  opacity: .6;
  cursor: pointer;
  margin: 40px 0;
  transition: all 500ms ease-in-out;
}

.clients li:hover img {
  opacity: 1;
}

/* CONTACT */

.contact {
  padding: 50px 0 80px;
  text-align: center;
}

.contact p {
  padding-bottom: 80px;
  color: #737373;
}

.contact h2 {
  color: #4c4c4c;
  margin: 20px 0 20px;
}

.contact .input-group {
  margin-bottom: 25px;
}

.contact .form-control {
  border-radius: 0 !important;
}

.contact span {
  border-radius: 0 !important;
}

.contact .btn {
  border-radius: 0;
  width: 100%;
  font-size: 15px;
  background-color: #f08080;
  color: #fff;
}

.contact .btn:hover {
  background-color: #a85959;
  color: #fff !important;
}

/* FOOTER*/

.footer {
  padding: 30px;
  color: #cccccc;
  background-color: #222222;
}

.footer .social {
  font-size: 20px;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  margin-right: 5px;
}

.footer input {
  height: 40px;
  width: 160px;
  padding: 5px;
  border: none;
  background-color: #cccccc;
  color: #000;
}

.footer .btn {
  padding: 10px 5px 10px;
  margin: -3px 0 0 5px;
}
